<h1><%- title %></h1>
<section class="login-form">
  <form id="loginForm" class="loginForm" action="/account/login" method="post">
    <% if (messages && messages.length > 0) { %>
      <div class="flash-message <%- messageType%>"> <%= messages[0] %> </div>
      <% } %>    
      <% if (errors) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
  <% } %>  
      <p>login to your account</p>  
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="account_email" id="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div>
        <input
          type="password"
          placeholder="Enter your password"
          name="account_password"
          id="account_password"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          title="Password must be at least 12 characters long"
          minlength="12"
        />
        <span
          id="password-toggle"
          class="password-toggle"
          style="margin-left: 0.5rem"
        >
          <i class="fa fa-eye" style="cursor: pointer"></i>
        </span>
      </div>
    </div>
    <button type="submit">Login</button>
    <p>Don't have an account? <a href="/account/register">Register here</a></p>
  </form>
</section>
<script src="/js/togglePassView.js"></script>
