<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Prince Godwyll">
  <meta name="description" content="CSE-340 Motors">
  <meta property="og:title" content="CSE-340 Motors">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://princegodwyll15.github.io/cse_340">

  <title><%- title %> | CSE 340 App</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/large.css">
</head>
