<h1>Welcome to CSE Motors!</h1>
<div id="hero">
  <div class="hero-content">
    <p>DMC Delorean </p>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <img src="/images/site/own_today.png" alt="own-today" loading="lazy" />
  </div>
  <div class="hero-img-container">
    <img src="/images/vehicles/delorean.jpg" alt="dmc delorean" />
  </div>
</div>

<div class="collections">
  <div class="delorean-upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-cards-container">
      <div class="upgrade-card">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker" />
        <a href="">Bumper Stickers</a>
      </div>
      <div class="upgrade-card">
        <img src="/images/upgrades/flame.jpg" alt="flame" />
        <a href="">Flame Decals</a>
      </div>
      <div class="upgrade-card">
        <img src="/images/upgrades/flux-cap.png" alt="flux-cap" />
        <a href="">Flux Capacitor</a>
      </div>
      <div class="upgrade-card">
        <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap" />
        <a href="">Hub Caps</a>
      </div>
    </div>
  </div>
  <div class="delorean-reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast its almost like traveliing in time (4/5)"</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"Im feeling McFly" (5/5)</li>
      <li>"The most futuristic ride of our day"</li>
      <li>"80's livin and i love it!" (5/5)</li>
    </ul>
  </div>
</div>
