/******* Change Box Model ***************/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/images/site/small_check.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  width: 97%;
  padding: 0 1rem 0 1rem;
  margin: 0.5rem auto;
}

/* *********************************
Top header styles go here
********************************* */
#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteName a {
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
}

#tools a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

/* *********************************
Navigation styles go here
********************************* */
nav {
  width: 100%;
  color: #fff;
  background-color: #000;
  margin: 0.5rem auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  font-size: 14px;
  list-style: none;
  padding: 1rem;
}

/* *********************************
Hero styles go here
********************************* */
h1 {
  font-size: 24px;
}

#hero {
  clear: both;
  height: 30vh;
  width: 100%;
  margin: 0.5rem auto;
  position: relative;
}

.hero-content {
  color: #000;
  background-color: rgba(90, 89, 89, 0.1);
  position: absolute;
  left: 0;
  z-index: 2000;
  padding: 0.5rem;
}

.hero-content p {
  font-size: .8rem;
}

.hero-content img {
  width: 50%;
}

.hero-img-container img {
  width: 350px;
}

/* *********************************
Car upgrades styles go here
********************************* */
.collections {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
}

.collections h2 {
  margin-bottom: 1.5rem;
}

.chevrolet-upgrades h2 {
  margin-top: 1.5rem;
}

.upgrade-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.chevrolet-reviews ul {
  margin-left: 2rem;
}

figure {
  width: 48%;
  height: 150px;
  margin: 1rem auto;
}

figure img {
  height: 150px;
  background-color: rgb(53, 132, 235);
  padding: 1rem;
  width: 100%;
}

/* *********************************
Footer styles go here
********************************* */
footer {
  margin-top: 20px;
}

footer p {
  font-size: 25px;
}