<h1><%- title %></h1>
<section class="add-classification-form">
  <form action="/inv/add-classification" method="POST">
    <% if (errors && errors.length > 0) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
        <li style="color: red"><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>

    <div class="form-group">
      <p>Field is required</p>
      <p>Only alphanumeric characters are allowed</p>
      <p>Spaces and special characters are not allowed</p>
      <label for="classification_name">Classification Name*</label>
      <input
        type="text"
        name="classification_name"
        id="classification_name"
        required
        placeholder="Enter classification name"
        pattern="^[a-zA-Z0-9]+$"
        title="Only alphanumeric characters are allowed."
      />
      <small>No spaces or special characters allowed.</small>
    </div>
    <button type="submit">Add Classification</button>
  </form>
</section>
